@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    /* Custom properties */
    --navigation-height: 3.5rem;
    --color-one: #ffbd7a;
    --color-two: #fe8bbb;
    --color-three: #9e7aff;
    --color-four: #d6fcb5;

    /* 
    --color-one: #37ecba;
    --color-two: #72afd3;
    --color-three: #ff2e63;
     */
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@keyframes move-border {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-move-border {
  animation: move-border 4s linear infinite;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
}


/*  */
.d-2 {
  --c: #fff;
  /* the color */
  --b: .1em;
  /* border length*/
  --d: 20px;
  /* the cube depth */
  --h: 4.2em;
  /* the height */

  --_s: calc(var(--d) + var(--b));
  color: #0000;
  text-shadow:
    0 calc(-1*var(--_t, 0em)) var(--c),
    0 calc(var(--h) - var(--_t, 0em)) #000;
  border: solid #0000;
  overflow: hidden;
  border-width: var(--b) var(--_s) var(--_s) var(--b);
  background:
    linear-gradient(var(--c) 0 0) -1px 100% /101% var(--_p, 0%) no-repeat,
    conic-gradient(from -90deg at right var(--d) bottom var(--d),
      #0000 90deg, rgb(255 255 255 /0.3) 0 225deg, rgb(255 255 255 /0.6) 0) border-box,
    conic-gradient(at right var(--_s) bottom var(--_s),
      var(--c) 270deg, #0000 0) 100% 100%/calc(100% - var(--b)) calc(100% - var(--b)) border-box;
  clip-path:
    polygon(0% 0%,
      calc(100% - var(--d)) 0%,
      calc(100% - var(--d)) 0%,
      calc(100% - var(--d)) calc(100% - var(--d)),
      0 calc(100% - var(--d)),
      0 calc(100% - var(--d)));
  transition: 0.5s;
}

.d-2:hover {
  transform: translate(0, 0);
  --_t: var(--h);
  --_p: 105%;
}